<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917854902676-iv0jpqadc6rh99l0f9v13citmie3vnth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917854902676-iv0jpqadc6rh99l0f9v13citmie3vnth</string>
	<key>API_KEY</key>
	<string>AIzaSyByX9ypN2ZaJSDZYg3-ul3IyZ05xtjwn6U</string>
	<key>GCM_SENDER_ID</key>
	<string>917854902676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appsideofthebox.Ed-Room</string>
	<key>PROJECT_ID</key>
	<string>ed-room</string>
	<key>STORAGE_BUCKET</key>
	<string>ed-room.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917854902676:ios:cc1db62343d564237a5781</string>
	<key>DATABASE_URL</key>
	<string>https://ed-room.firebaseio.com</string>
</dict>
</plist>